/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
}

nav {
    background-color: lightblue;
    display: flex;
    
}

nav ul {
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 2%;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#logo-cabecera img {
    width: 50%;
}

#logo-cabecera {
    width: 10%;
}

